.active{
    
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 13px;
    color:black;
    font-weight: 700;
    text-decoration: none;
}
  
  .link:hover  {
    opacity: 1;
    text-decoration: none;
    color:black;

  }
  
  .inactive{
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 13px;
    color: #6d7e8e;
    text-decoration: none;
}